# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Node
node_modules
npm-debug.log

# Maven
target
*.class

# IDE
.idea
.vscode
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env
.env.local

